{
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "react/prop-types": "off",
    "import/export": 1,
    "jsx-a11y/anchor-is-valid": "off",
    "@next/next/no-img-element": "off"
  },
  "plugins": ["react", "prettier", "simple-import-sort"],
  "ignorePatterns": ["**/cypress/**", "**/build/**"]
}
